/* outerBackground {
  background-image: url("../assets/viridianforest.png");
} */

/* #backgroundCanvas {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  position: fixed;
} */

/* #backgroundCanvas {
  width: 800px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */