

// #backgroundCanvas {
//   width: 70%;
//   height: 70%;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

#backgroundCanvas {
  width: 45%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 12%;
}

#demoCanvas {
  position: absolute;
  width: 25%;
  height: 50%;
  left: 72%;
  z-index: 1;
  background-color: black;
}

.git-button {
  position: absolute;
  width: 5%;
  height: 7%;
  top: 90%;
  left: 90%;
  z-index: 1;
}

.linkedin-button {
  position: absolute;
  width: 5%;
  height: 7%;
  top: 90%;
  left: 95%;
  z-index: 1;
}

// #test {
//   width: 100%;
//   height: 100%;
//   background-color: aqua;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

.bg {
  width: 100%;
  height: 100%;
  // margin: 30px auto;
  top: 50%;
  left: 50%;
  color: green;
  background-color: rgba(45, 5, 38, 0.298);
  position: absolute;
  transform: translate(-50%, -50%);
  // z-index: 1;
  // text-align: center;
}

// .shell {
//   width: 10%;
//   height: 10%;
//   top: 0%;
//   left: 60%;
//   // z-index: 1;
//   position: absolute;
// }

.timer {
  text-align: center;
  // width: 500px;
  position: absolute;
  top: 25%;
  left: 3%;
  // transform: translate(-50%, -50%);
  z-index: 1;
}

.light {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: absolute;
  top: 36.2%;
  left: 4.01%;
  // background-color: greenyellow;
  // background-color: rgba(215, 20, 20, 0.548);
  background-color: rgba(166, 234, 65, 0.953);
  z-index: 1;
}

h1 {
  width: 45%;
  height: 77.4%;
  color: rgba(21, 41, 50, 0.356);
  // background-color: #9cbc0f43;
  background-color: rgba(57, 74, 24, 0.646);
  // background-color: rgba(149, 44, 44, 0.399);
  top: 4.5%;
  left: 12%;
  text-align: center;
  position: absolute;
  z-index: 1;
}

#pointsGauge {
  width: 150px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 1%;
  // background-color: red;
  z-index: 1;
}

#seconds, #minutes {
  font-size: 2em;
  color: rgba(113, 235, 31, 0.764);
}
